.pricing-plan {
    &__price {
        &-amount {
            font-size: 58px;
        }
        &-interval {
        }
    }
    &__button {
        font-size: 18px;
        min-width: 140px;
    }
}
